{% extends 'forum.html' %}

{% block content %}
    {% for topic_with_posts in topics_with_posts %}
        <div class="topic-container">
            <h2>{{ topic_with_posts.topic.title }}</h2>
        </div>

        <div class="posts-container">
            <a href="{% url 'post_creator' topic_id=topic_with_posts.topic_id %}">Create new post</a>

            <ul>
                {% for post in topic_with_posts.posts %}
                    <li class="post-container">
                        <h4>{{ post.title }}</h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}
